<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address -> Geocodes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col mt-3">
            <h4 class="text-center">Reverse Geocode</h4>
            <div class="form-group">
                <label for="latlng">Takes latitude and longitude, returns an address</label>
                <input type="text" value="0,0" class="form-control" id="latlng">
                <small id="latlngHelp" class="form-text text-muted">Sample value: 38.338709,27.319836</small>
            </div>
            <input type="button" id="submitReverseGeocode" class="btn btn-primary" value="Reverse Geocode"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul id="resultReverseGeocode" class="list-group">

            </ul>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col mt-3">
            <h4 class="text-center">Geocoding</h4>
            <div class="form-group">
                <label for="address">Takes a human-readable address, returns location data</label>
                <input type="text" class="form-control" id="address" placeholder="Address">
                <small id="addressHelp" class="form-text text-muted">Sample value: Izmir</small>
            </div>
            <input type="button" id="submitGeocode" class="btn btn-primary" value="Geocode"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul id="resultGeocode" class="list-group">

            </ul>
        </div>
    </div>
</div>
<script>
    document.getElementById("submitReverseGeocode").addEventListener("click", () => {
        let latlng = document.getElementById("latlng").value;
        document.getElementById("resultReverseGeocode").innerHTML = "";
        if (latlng === "") {
            alert("Please enter a query to geocode");
            return;
        }
        let index = latlng.indexOf(",");
        if (index === -1) {
            alert("Invalid request. Do not forget to use ','. Check out the sample value for correct format.");
            return;
        }
        let latlngArray = latlng.split(",");
        let lat = latlngArray[0];
        let lng = latlngArray[1];
        let urlReverseGeocode = `${window.location.href}/api/v0/geocodes/getReverseGeocode?lat=${lat}&lng=${lng}`;
        fetch(urlReverseGeocode)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.results.length > 0) {
                    data.results.forEach(result => {
                        document.getElementById("resultReverseGeocode").innerHTML += `
                        <li class="list-group-item text-left">
                            <i class="fas fa-map-marker-alt"></i>
                            ${result.formattedAddress}
                            <br/>
                            Location: ${result.geometry.location.lat}, ${result.geometry.location.lng}
                            <br/>
                            Types: [${result.types}]
                        </li>
                    `;
                    });
                } else {
                    document.getElementById("resultReverseGeocode").innerHTML += `
                        <li class="list-group-item text-left">
                            Zero result! The request did not encounter any errors, but returned no result
                        </li>
                    `;
                }
            }).catch(reason => {
            document.getElementById("resultReverseGeocode").innerHTML +=
                `
                        <li class="list-group-item text-left">
                            Invalid Request
                        </li>
                    `;
        });
    });

    document.getElementById("submitGeocode").addEventListener("click", () => {
        document.getElementById("resultGeocode").innerHTML = "";
        let address = document.getElementById("address").value;
        if (address === "") {
            alert("Please enter an address");
        }

        let urlGeocode = `${window.location.href}/api/v0/geocodes/getGeocode?address=${address}`;
        fetch(urlGeocode)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.results.length > 0) {
                    data.results.forEach(result => {
                        document.getElementById("resultGeocode").innerHTML += `
                        <li class="list-group-item text-left">
                            <i class="fas fa-map-marker-alt"></i>
                            ${result.formattedAddress}
                            <br/>
                            Location : ${result.geometry.location.lat}, ${result.geometry.location.lng}
                            <br/>
                            Types: [${result.types}]
                        </li>
                    `;
                    });
                } else {
                    document.getElementById("resultGeocode").innerHTML += `
                        <li class="list-group-item text-left">
                            Zero result! The request did not encounter any errors, but returned no result
                        </li>
                    `;
                }
            }).catch(reason => {
            document.getElementById("resultReverseGeocode").innerHTML +=
                `
                        <li class="list-group-item text-left">
                            Invalid Request
                        </li>
                    `;});
    });
</script>
</body>

</html>